<soo-header></soo-header>

<!--   Встречалка -->
<div class=" text-center">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
            <h1>Что здесь происходит</h1>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
            <p class="lead">
                Вы попали на сервис анонимного и безопасного ведения личного дневника и записей. После регистрации вы
                увидите поле для ввода текста.
                Над ним вы увидите счетчики слов.
                <br><br>Желательно, но необязательно чтобы вы каждый день писали
                минимум 500 слов. Пишите каждый день, пишите что угодно.
                <br><br>Да, это калька с 750words.com. Но тот проект уже стар, дряхл и глючен, и мне захотелось чего-то
                нового и своего.
            </p>
        </div>
    </div>
    <div class="row">
        <p>
            <a class="btn btn-success btn-lg" href="#!/signin">Войдите в систему</a>
        </p>
    </div>
</div>
