<div class="wrapper" ng-controller="TextController">
    <timeline></timeline>

    <section>

        <!-- Alerts -->
        <div class="alerts">
            <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}} animation">
                <button type="button" class="close" ng-click="alert.close()" aria-hidden="true">×</button>
                <h4>{{ alert.title }}</h4> {{ alert.msg }}
            </div>
        </div>

        <!--   Встречалка -->
        <div class="jumbotron text-center" ng-if="!authentication.user">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                    <h1>500 слов</h1>
                </div>
            </div>
            <br>
            <div class="row">
                <p class="lead">
                    Сервис анонимного и безопасного ведения личного дневника и записей
                </p>
            </div>
            <div class="row">
                <p>
                    <a class="btn btn-default btn-lg" href="/about">Узнайте подробности</a> или <a class="btn btn-success btn-lg" href="#!/signin">Войдите в систему</a>
                </p>
            </div>
        </div>

        <!--            Teeeext             -->
        <text date="{{curDate}}" editable="{{isToday()}}">

        </text>
    </section>
</div>
