<div ng-show="history.date">
    <h1>{{history.date}}</h1>
    <div class="history-text">
        <pre>
            {{history.text}}
        </pre>
    </div>
</div>
<div ng-show="authentication.user && !history.date">
    <div class="page-header">
        <h1>Автор, жги!</h1>
        <div style="text-align:right">
            <img id="saving" src="/modules/core/img/loaders/loader.gif" ng-show="state === 'saving'" width="20px" height="20px" />
            <div class="saved" ng-show="state === 'saved'">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Сохранено
            </div>
            <div class="notsaved" ng-show="state === 'notsaved'">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Изменено, но пока не сохранено
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <textarea name="text" ng-model="text" id="text" msd-elastic="\n\n\n" class="form-control textarea-input" cols="30" rows="10" ui-keydown="{'ctrl-83 alt-115 ctrl-87 meta-83':'saveByKeys($event)'}" ></textarea>
    </div>
</div>
