<div class="col-md-12" ng-show="historyText">
    <pre>
        {{historyText}}
    </pre>
</div>
<div ng-show="authentication.user && !hideToday">
    <div class="page-header">
        <h1>Автор, жги!</h1>
        <div style="text-align:right">
            <img id="saving" src="/modules/core/img/loaders/loader.gif" ng-if="state === 'saving'" width="20px" height="20px" />
            <div class="saved" ng-if="state === 'saved'">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Сохранено
            </div>
            <div class="notsaved" ng-if="state === 'notsaved'">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Изменено, но пока не сохранено
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <textarea name="text" data-ng-model="text" id="text" class="form-control" cols="30" rows="30" ui-keydown="{'ctrl-83 alt-115 ctrl-87':'saveByKeys($event)'}" ></textarea>
    </div>
</div>
