<section data-ng-show="authentication.user">
    <div class="timeline-wrapper">
        <header>
            <h3>Текущая дата: {{curDate}}</h3>
        </header>
        <ul class="timeline">
            <li class="item">
                <button class="btn btn-xs btn-primary" data-ng-click="prevMonth()">
                    << </button>
            </li>
            <li class="item" data-ng-repeat="(day, counter) in days track by $index">
                <button type="button" class="btn btn-xs" ng-class="{'btn-default': counter === '--', 'btn-info': counter === 0, 'btn-success': counter > 0}" ng-click="showText(day + 1)">{{days[$index]}}</button>
            </li>
            <li class="item">
                <button class="btn  btn-xs btn-primary" data-ng-click="nextMonth()" data-ng-hide="isCurrentMonth"> >> </button>
            </li>
        </ul>
    </div>
    <div>{{ current_date }}</div>
</section>
