.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.alerts {
    overflow: hidden;
    position: fixed;
    top: 10px;
    right: 10px;

    width: 350px;
    z-index: 10000;
}


/*

                Timeline

*/

ul.timeline {
  padding-left: 0;
}

li.item {
  display: inline-block;
  list-style-type: none;
  margin: 0.4em 0.1em;
}





/*

                Alerts Animation

*/

.alerts .alert {
    position: relative;
}

.alert.animation.ng-enter {
  -webkit-animation: enter_sequence 0.2s ease-in; /* Safari/Chrome */
  animation: enter_sequence 0.2s ease-in; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}

.alert.animation.ng-leave {
  -webkit-animation: exit_sequence 0.2s ease-in-out; /* Safari/Chrome */
  animation: exit_sequence 0.2s ease-in-out; /* IE10+ and Future Browsers */
}
@-webkit-keyframes exit_sequence {
  from { opacity:1; }
  to { opacity:0; right: -100px; }
}
@keyframes exit_sequence {
  from { opacity:1; }
  to { opacity:0; right: -100px; }
}






.dropdown-form {
    width: 400px;
    padding: 15px;
}

.control-label {
    margin: 15px 5px;
}

textarea[name="text"] {
  font-family: Verdana, sans-serif;
  font-size: 20px;
}