<div class="container">

	<div class="navbar-header navbar-inverse">
		<button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Вкл./Выкл. меню</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand"></a>
	</div>
	<nav class="collapse navbar-collapse navbar-inverse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" ng-if="menu.shouldRender(user);">
			<li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/#!/{{subitem.link}}" ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default href="/#!/{{item.link}}" ng-bind="item.title"></a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" auth-hide>
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Зарегистрироваться</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Войти</a>
			</li>
		</ul>
		<ul class="nav navbar-nav pull-right" auth-show>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" toggle="dropdown">
					Написать разработчикам </strong>
				</a>
				<div class="dropdown-menu" style="padding: 17px">
					<form class="form dropdown-form" role="form" ng-submit="send_callback()" ng-controller="CallbackController">
						<div class="form-group">
							<div class="col-sm-12">
								<textarea class="form-control" placeholder="Напишите нам свои пожелания о том, как сделать лучше" ng-model="callback_text" ng-click="preventClose($event)"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<button type="submit" class="btn btn-success control-label">Отправить</button>
							</div>
						</div>
					</form>
				</div>
			</li>
		</ul>
		<ul class="nav navbar-nav pull-right" auth-show>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" toggle="dropdown">
					<span ng-bind="user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Редактировать профиль</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Управление социальными аккаунтамиs</a>
					</li>
					<li ng-show="user.provider === 'local'">
						<a href="/#!/settings/password">Изменить пароль</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Выйти</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
