<% include ../partials/head %>

<div class="panel panel-default">
  <div class="panel-body">
    Я давно искал подходящий сервис для ведения личного дневника, но ни один не впечатлил. Где-то не хватало приватности, где-то слишком перегруженный интерфейс и он долго грузился. Я решил сделать свой собственный сервис и поделиться им с людьми. Записи шифруются на клиенте персональным ключом и отправляются на сервер в зашифрованном виде. Только вы можете их прочитат
  </div>
</div>

<% include ../partials/foot %>